@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.ActionLink("Распарсить прогнозы", "ParseTourFromUrl")
    <br/>

    @Html.ActionLink("Расчитать результаты тура", "CalculateTourResult")
    <br/>

    @Html.ActionLink("Расчитать турнирную таблицу", "CalculateTurnirTable")
    <br/>

    @Html.ActionLink("Распарсить результаты тура", "ParseTourResult")
    <br/>

    @Html.ActionLink("Распарсить результаты тура (ЕВРО 2012)", "ParseTourResultEuro2012")
    <br/>

    @Html.ActionLink("Прогноз перед туром", "BeforeTour")
</p>
<hr/>
<p>

    @Html.ActionLink("Турнирная таблица (по процентам)", "CalculatePercentTurnirTable")
      <br/>

    @Html.ActionLink("Самые предсказуемые матчи", "SureThing")
</p>
