@using ru_football.Models;
@model CalculateTurnirTableModel

@{
    ViewBag.Title = "Add new match result";
}

Расчет турнирной таблицы
@using (Html.BeginForm())
{
    @Html.LabelFor(x=>x.LastMatchNumberOfPreviousTour)
    <span>&nbsp;</span>
    @Html.EditorFor(x => x.LastMatchNumberOfPreviousTour)
    <br />
    <br />
        @Html.LabelFor(x => x.LastMatchNumber)
        <span>&nbsp;</span>


    @Html.EditorFor(x => x.LastMatchNumber)
                                   <br />
    <input type="submit" value="submit" />
}

<textarea>
@Model.Result
</textarea>

@if (Model != null && Model.Result != null)
{
    @Html.Raw(Model.Result.Replace("<lj user=\"", ""))
}